doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="../styles/exportPage.css")
    title Sắt Thép Kim Đồng
  body
    .header
      .logo
        img(src='../image/logo2.png' width='60' height='60')
        p thép kim đồng
      .company-info
        div.company-name
          span công ty tnhh sắt thép kim đồng
        .company-contact
          p ĐT: 0123456789
          p Địa chỉ: i18A, Kp5, P.Tân Hiệp, BH-ĐN
          h2 Kinh doanh: Thép tấm, Thép lá, Thép hình UIV, Cắt - Chấn - Cuốn ống
    hr.line
    .bill
      .bill-tilte
        h2 hóa đơn bán hàng
      .bill-contact
          .contact
            span Đơn vị mua hàng: 
            span=customerName 
            span.dotted-line
          .contact
            span.noi-giao-hang Nơi giao hàng: 
            span.dotted-line 
          .contact
            span.dai-dien-mua-hang Đại diện nhận hàng: 
            span.dotted-line
    .bill-content
        table
          tr
            th STT
            th Loại hàng
            th ĐVT
            th Số lượng
            th Đơn giá
            th Thành tiền
          if posts
            each post in posts
              tr
                td=post.stt
                td=post.loaithep
                td=post.donvi
                td=post.soluong
                td=post.dongia
                td=post.thanhtien
          tr
            td(colspan='2') TỔNG CỘNG
            td
            td
            td
            td=totalPrice
           
    .note
      p Ghi chú: 
      span.dotted-line
    .sign
      .sign-col-1
        .first-line
          span Tiền mặt
          span
            i.fas.fa-square
          span Công nợ
          span
            i.fas.fa-square
        #kyten
          p.bold-text Người nhận hàng
          p.kyten (Ký, ghi họ tên)
      .sign-col-2
        .first-line
          span Ngày 
          span=postDate
          span tháng 
          span=postMonth
          span năm 
          span=postYear
        #kyten
          p.bold-text Người bán hàng
          p.kyten (Ký, ghi họ tên)
